a {
    text-decoration: none;
    color: black;
}

h1 {
    border-bottom: 1px solid;
    font-size: 18px;
    margin: 16px 0;
    padding-bottom: 8px;
}

li {
    line-height: 1.6;
    margin-bottom: 8px;
}

button {
    padding: 4px 8px;
    font-size: 14px;
}

input{
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 480px;
    margin: 40px auto;
}

.form-group {
    margin-bottom: 32px;
    display: flex;
}

.form-button {
    background-color: skyblue;
    text-align: right;
    margin-left: 16px;
}

.list-items {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
}
